@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins font */
/* No need to import the font from Google Fonts here since it's handled by next/font */

:root {
  --text: rgb(43, 43, 62);
  --primaryAccent: rgb(167, 210, 178);
  --secondaryAccent: #53212F;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  color: var(--text); 
  font-family: var(--font-poppins);
}

button, span, div, p, h1, h2, h3, h4, ul li {
  font-family: var(--font-poppins);
}

/* Additional Styling */
p {
  color: var(--text);
  font-size: 18px;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  color: var(--text);
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: bold;
}

ul li {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
}

.navbar li {
  opacity: 0.8;
}

.navbar li:hover {
  opacity: 1;
}

.hero-top-level {
  background-image: url('/images/alex-mp-2.jpeg');
  background-position: calc(50% - 100px) 50%; 
}

@media (min-width: 768px) {
  .hero-top-level {
    background-position: calc(50% + 100px);
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(20deg, rgba(167, 210, 178) 30%, rgba(167, 210, 178, 0.301) 100%, rgba(0, 0, 0, 0) 100%);
}

.activeAction {
  background-color: var(--primaryAccent);
  border-radius: 5px;
  font-weight: 600;
}

.hero-title {
  color: rgb(30, 30, 54);
}

/* Mobile-specific adjustments, if needed */
@media (max-width: 767px) {
  body, button, span, div, p, h1, h2, h3, h4, ul li {
    font-family: var(--font-poppins);
  }
}
